<!DOCTYPE html>
<script
 src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/javascript/controller.js'></script>
<html>
  <head>
    <meta charset="utf-8">
    <title>LoginApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">z
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="nav-item">
              <a class="nav-link " href="/{{role}}/dashboard">Dashbord</span></a>
            </li>
            {{#if user}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{role}}/pastrides">Past Rides</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/{{role}}/logout">Logout</a>
                </li>
            {{else}}
                {{#compare role 'Customer' operator ="==" }}
                <li class="nav-item">
                  <a class="nav-link" href="/Customer/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Customer/register">Register</a>
                </li>
                 {{/compare}}
                 {{#compare role 'Driver' operator = '==' }}
                <li class="nav-item">
                  <a class="nav-link" href="/Driver/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Driver/register">Register</a>
                </li>
                 {{/compare}}

            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Book A Cab</h3>
      </div>
      <div class="jumbotron">
      <div class="row ">
        <div class="col-lg-12">
          {{#if success_msg}}
               <div class="alert alert-success">
                 {{success_msg}}
               </div>
          {{/if}}
          {{#if error_msg}}
               <div class="alert alert-danger">
                 {{error_msg}}
               </div>
          {{/if}}
          {{#if error}}
               <div class="alert alert-danger">
                 {{error}}
               </div>
          {{/if}}
              {{{body}}}
        </div>
</div>


    </div> <!-- /container -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </body>
</html>
